@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lemon", serif;
  /* border: 1px solid red; */
}

:root {
  --main: #187800;
  --secondary: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100dvw;
  height: 100dvh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  max-height: 20vh;
  height: 20vh;
  background-color: var(--main);
  position: fixed;
  top: 0;
  z-index: 999;
}

main {
  height: 80%;
}

header div {
  height: 70%;
  display: flex;
  padding-left: 5%;
  align-items: center;
  color: var(--secondary);
}

header nav {
  height: 30%;
}

header nav ul {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 5%;
}

header nav ul a li {
  list-style-type: none;
}

header nav ul a {
  text-decoration: none;
  color: var(--secondary);
  margin-right: 3%;
}

section {
  display: flex;
  background-color: var(--secondary);
  height: 100dvh;
  padding: 5%;
  padding-top: 25dvh;
}

#home {
  flex-direction: column;
}

#home h3 {
  color: var(--main);
  font-size: x-large;
}

p {
  color: var(--main);
  font-size: smaller;
}

#home img {
  align-self: flex-end;
  margin-top: 5dvh;
  right: 5%;
  width: 70%;
}

#check {
  display: flex;
  flex-direction: column;
  color: var(--main);
}

.lahanParkir {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  height: 500px;
  width: 300px;
  background-color: var(--main);
  border-radius: 5px;
}

.containerParkir {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parkiran {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  color: var(--secondary);
  height: 120px;
  width: 80px;
  margin: 0 10px;
  border-left: 6px solid white;
  border-right: 6px solid white;
}

.parkiran h3 {
  font-size: small;
  text-align: center;
}

.parkiran img {
  transform: rotate(90deg);
  height: 40%;
}

.lahanParkir span {
  color: var(--secondary);
  font-size: 300%;
  font-weight: bolder;
  margin-left: 12%;
}

.containerGate {
  display: flex;
  align-items: center;
  height: 80px;
}

.gerbang {
  height: 10%;
  width: 70%;
  background-color: var(--secondary);
}

.kotak {
  width: 90%;
  height: 80%;
  background-color: orange;
}

#aboutUs {
  display: block;
  color: var(--main);
  flex-direction: column;
  justify-content: center;
}

.containerImage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

figure {
  margin: 0 5%;
}

.containerImage img {
  width: 120px;
  height: 160px;
  border: 3px solid var(--main);
}

figcaption {
  color: var(--main);
  text-align: center;
}

.timpa {
  position: absolute;
  color: var(--main);
  margin-bottom: 10px;
}

/* Test Check */
/* .test button {
  margin-right: 1%;
  padding: 10px;
  border: none;
}

.green {
  background-color: var(--main);
  color: white;
} */

@media (min-width: 530px) {
  #home img {
    align-self: flex-end;
    margin-top: 5dvh;
    right: 5%;
    width: 30%;
  }
}
@media (min-width: 530px) {
  #home img {
    align-self: flex-end;
    margin-top: 5dvh;
    right: 5%;
    width: 30%;
  }
}
@media (min-width: 440px) {
  .lahanParkir {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    height: 600px;
    width: 310px;
    background-color: var(--main);
    border-radius: 5px;
  }
}
